.app {
  font-family: sans-serif;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
  transform: scale(0.9);
  padding: 30px;
}

.section.active {
  transform: scale(1);
  opacity: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push the logo to the left, buttons to center, and social icons to the right */
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  /* You can style your logo text or adjust the size, colors, etc. here */
  font-family: sans-serif; /* Fallback to generic sans-serif if Arial isn't available */
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.button-group {
  display: flex;
  gap: 2px; /* This creates a 10px gap between each button */
}

.social-icons {
  display: flex;
  gap: 5px; /* This creates a 10px gap between each social icon */
}

/* Define the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Set the initial state */
.animated-headline {
  opacity: 0;
  transform: translateY(50px);
  animation-name: fadeInUp; /* Reference the animation */
  animation-duration: 1s; /* Duration of animation */
  animation-delay: 0.5s; /* Add a slight delay */
  animation-fill-mode: forwards; /* Retains the property values set by the last keyframe */
}

/* Set the initial state */
.animated-paragraph {
  opacity: 0;
  transform: translateY(50px);
  animation-name: fadeInUp; /* Reference the animation */
  animation-duration: 1s; /* Duration of animation */
  animation-delay: 0.5s; /* Add a slight delay */
  animation-fill-mode: forwards; /* Retains the property values set by the last keyframe */
}

/* On hover, keep the text visible */
.home-section:hover .animated-headline {
  opacity: 1;
  transform: translateY(0);
}
